{% extends 'base.twig' %}

{% block description %}{% endblock %}

{% block title %}erreur{% endblock %}

{% block main %}

    <h1 class="text-center">Une erreur s'est produite</h1>

    <p class="text-center my-3">La page demandée n'existe pas (ou plus).</p>

{% endblock %}
