<div class="container-fluid bg-dark text-light py-5 pb-3 text-center">
    <div class="row align-items-center">
        <div class="col-4 p-5">
            <nav>
                <h5>LIENS UTILES</h5>
                <div class="dropdown-divider bg-light m-3"></div>
                    <a href="index.php?page=home">accueil</a><br>
                    <a href="index.php?page=posts">articles</a><br>
                    <a href="index.php?page=authors">auteurs</a>
            </nav>
        </div>
        <div class="col-8">
            <p id="footer-title">Table Top Games</p>
        </div>
    </div>
    <p class="mt-5 copyright">Copyright © {{ "now"|date("Y") }} - David HURTREL | Articles extraits du site <a href="https://akoatujou.fr/" target="_blank">akoatujou.fr</a></p>
</div>
